



.Calculate-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

/* body{
  background: url("./images/Background.mp4");
  background-repeat: no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'COCOMAT',sans-serif; */

#video-background {
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  filter: grayscale(50%);
  top:0;
  left: 0;
  z-index: -1;
}




  

header {
  font-family: 'COCOMAT', sans-serif;
}

 footer{
  height: 5vh;
  margin-top: -5vh;
  position: absolute;
  bottom: 0;
  width: 100%;
 }